body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    font-family: "Alegreya", serif;
    font-size: 60px;
    margin: 0 0 24px;
    font-weight: 900;

}

button {
    background-color: #025157;
    color: #fffbf7
}

.header {
    margin: 40px 20px 0;
    font-size: 0px;
    height: 45px;
    font-family: sans-serif;
}

.header > * {
    display: inline-block;
    font-size: 16px;
}

main {
    margin-top: 250px;
    text-align: center;
}

main > h3 {
    font-family: sans-serif;
}

main > p {
    font-family: sans-serif;
}

li {
    display: inline;
}

.logo {
    width: 20%;
}

.navbar {
    width: 60%;
    text-align: center;
    font-family: sans-serif;
}

.navbar > ul {
    padding-left: 0;
}

.itema {
    padding: 8px;
    margin: 0 25px;
}

.actions {
    width: 20%;
    text-align: center;
}

.actions > button {
    background-color: #67b54b;
    color: #ffffff;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}
